node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
backend/venv
backend/models/
backend/app/__pycache__/__init__.cpython-312.pyc
 
backend/app/api/__pycache__/routes.cpython-312.pyc
 
backend/app/schemas/__pycache__/__init__.cpython-312.pyc
backend/app/services/__pycache__/__init__.cpython-312.pyc
backend/app/core/__pycache__/config.cpython-312.pyc
 
backend/app/models/__pycache__/model_loader.cpython-312.pyc
backend/app/utils/__pycache__/__init__.cpython-312.pyc
 
backend/app/utils/__pycache__/image_utils.cpython-312.pyc
 
backend/app/utils/__pycache__/file_utils.cpython-312.pyc
  
backend/app/__pycache__/main.cpython-312.pyc
 
backend/app/models/__pycache__/__init__.cpython-312.pyc
backend/app/schemas/__pycache__/response.cpython-312.pyc
backend/app/services/__pycache__/realesrgan_service.cpython-312.pyc
backend/app/api/__pycache__/__init__.cpython-312.pyc
